<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SWParticipantePortBinding" />
                <binding name="SWPartidoPortBinding" />
                <binding name="SWmesaPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/ServidorSOAP/SWParticipante"
                binding="basicHttpBinding" bindingConfiguration="SWParticipantePortBinding"
                contract="SWParticipante.SWParticipante" name="SWParticipantePort" />
            <endpoint address="http://localhost:8080/ServidorSOAP/SWPartido"
                binding="basicHttpBinding" bindingConfiguration="SWPartidoPortBinding"
                contract="SWPartido.SWPartido" name="SWPartidoPort" />
            <endpoint address="http://localhost:8080/ServidorSOAP/SWmesa"
                binding="basicHttpBinding" bindingConfiguration="SWmesaPortBinding"
                contract="ServiceMesa.SWmesa" name="SWmesaPort" />
        </client>
    </system.serviceModel>
</configuration>